<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Obchůdek pro mlsné jazýčky: alkohol</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="container">
    <form class="kosik" th:action="@{/alkohol}" method="post">
        <h1>Objednávka alkoholu</h1>
        <label for="zbozi" class="radek">Zboží:</label>
        <select id="zbozi" name="zbozi" th:field="${form.zbozi}">
            <option value=""></option>
            <option value="1">Veltlín – Sauvignon kabinet</option>
            <option value="2">Rulanské šedé suché</option>
            <option value="3">Modrý Portugal</option>
            <option value="4">Frisco Mojito</option>
            <option value="5">Žufánek Višňovka</option>
            <option value="6">Jägermeister</option>
        </select>
        <div class="error" th:if="${#fields.hasErrors('form.zbozi')}" th:errors="${form.zbozi}"></div>

        <div class="radek">Objem:</div>
        <div class="skupina">
            <div>
                <input id="objem1" type="radio" th:field="${form.objem}" value="OBJEM_250ML"/>
                <label for="objem1">250 ml</label>
            </div>
            <div>
                <input id="objem2" type="radio" th:field="${form.objem}" value="OBJEM_750ML"/>
                <label for="objem2">750 ml</label>
            </div>
            <div>
                <input id="objem3" type="radio" th:field="${form.objem}" value="OBJEM_5L"/>
                <label for="objem3">5 litrů</label>
            </div>
        </div>
        <div class="error" th:if="${#fields.hasErrors('form.objem')}" th:errors="${form.objem}"></div>

        <label for="jmeno" class="radek">Jméno a příjmení:</label>
        <input id="jmeno" type="text" th:field="${form.jmeno}"/>
        <div class="error" th:if="${#fields.hasErrors('form.jmeno')}" th:errors="${form.jmeno}"></div>

        <label for="vek" class="radek">Věk:</label>
        <input id="vek" type="number" th:field="${form.vek}"/>
        <div class="error" th:if="${#fields.hasErrors('form.vek')}" th:errors="${form.vek}"></div>

        <label for="email" class="radek">E-mail:</label>
        <input id="email" type="email" th:field="${form.email}"/>
        <div class="error" th:if="${#fields.hasErrors('form.email')}" th:errors="${form.email}"></div>

        <div class="radek">
            <input id="obchodni-podminky" type="checkbox" name="obchodniPodminky" th:checked="${form.obchodniPodminky}"/>
            <label for="obchodni-podminky">Souhlasím s obchodními podmínkami</label>
        </div>
        <div class="error" th:if="${#fields.hasErrors('form.obchodniPodminky')}" th:errors="${form.obchodniPodminky}"></div>

        <div class="radek">
            <input id="newsletter" type="checkbox" name="newsletter" th:checked="${form.newsletter}"/>
            <label for="newsletter">Souhlasím se zasíláním newsletterů</label>
        </div>
        <div class="error" th:if="${#fields.hasErrors('form.newsletter')}" th:errors="${form.newsletter}"></div>

        <div class="radek controls">
            <button type="submit">Objednat</button>
        </div>
    </form>
</div>
</body>
</html>
